@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Developed by <strong><a href="https://github.com/danrlady" target="_blank"> @ViewData["Developer"]</a></strong>
</address>